<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Car Listing</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      @using Vacation.Models
      <h1>Available Cars:</h1>
      @if (Model.Count == 0)
      {
        <p>There are no items in the list</p>
      }
      <ol>
        @foreach (Trip trip in Model)
        {
          <li>
            Model: @trip.City<br>
            Miles: @trip.Date<br>
            Price: @trip.Rating
          </li>
        }
      </ol>
      <a href="/trips">See available cars</a>
      <a href="/trips/new">Create new listing</a>  
    </div>
  </body>  
</html>    