<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Trip Listing</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      @using Vacation.Models
      <h1>Places Visited on This Trip</h1>
      @if (Model.Count == 0)
      {
        <p>There are No Travels Logged</p>
      }
      <ol>
        @foreach (Trip trip in Model)
        {
          <li>
            City:<a href='/trips/@trip.Id'>@trip.City</a><br>
          </li>
        }
      </ol>
      <a href="/trips">See Past Travels</a>
      <a href="/trips/new">Log new Travel</a>  

      <form action="/trips/delete" method="post">
        <button type="submit" name="button">Clear All Items</button>
      </form>
    </div>
  </body>  
</html>    