<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a car listing</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the information below to create your listing:</h1>
    <form action="/trips" method="post">
      <label for="city">City:</label>
      <input id="city" name="city" type="text">
      <label for="date">Date:</label>
      <input id="date" name="date" type="number">
      <label for="rating">Rate 1-10:</label>
      <input id="rating" name="rating" type="number">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>