<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Trip Listing</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Trip Details: </h1>

<h2>@Model["trip"].Date</h2>
<h2>@Model["trip"].Rating</h2>
<h2>@Model["trip"].City</h2>
<h3>Category: @Model["category"].Name</h3>

<a href='/itineraries/@Model["itinerary"].Id/trips/new'>Add another item</a>
<a href='/itineraries'>View all itineraries</a>
