<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a car listing</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the information below to create your listing:</h1>
    <form action="/cars" method="post">
      <label for="model">Make/Model</label>
      <input id="model" name="makeModel" type="text">
      <label for="price">Price</label>
      <input id="price" name="price" type="number">
      <label for="miles">Miles:</label>
      <input id="miles" name="miles" type="number">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>