<h1>Add a Itinerary</h1>
<p>Add a Itinerary here:</p>

<form action="/itineraries" method="post">
  <label for="itineraryName">Itinerary name</label>
  <input id="itineraryName" name="itineraryName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/itineraries">Back to itineraries.</a></p>